.root {
  padding: var(--awsm-space-100);

  background: var(--awsm-color-gamma-900);
  color: var(--awsm-color-text-regular);
}

.root h2,
.root h3 {
  margin: 0;
}

.root h2 {
  margin-bottom: var(--awsm-space-050);

  color: var(--awsm-color-text-strong);
}

.status {
  margin-top: var(--awsm-space-100);
  padding: var(--awsm-space-100);

  border: var(--awsm-space-012) solid rgba(var(--awsm-color-primary-rgb), .5);

  background: var(--awsm-color-base-dark);
}

.status input {
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding: var(--awsm-space-075);
  height: calc(var(--awsm-font-size-n) + 2 * var(--awsm-space-075));

  border: var(--awsm-space-012) solid var(--awsm-color-gamma-400);
  background: var(--awsm-color-gamma-850);
  color: var(--awsm-color-text-strong);

  font-size: var(--awsm-font-size-n);
  line-height: 0;
}

.status input:focus {
  background: var(--awsm-color-gamma-900);
}

.status button {
  display: block;
  width: 100%;
  margin-top: var(--awsm-space-100);

  box-sizing: border-box;
  padding: var(--awsm-space-075);
  height: calc(var(--awsm-font-size-n) + 2 * var(--awsm-space-075));

  border: var(--awsm-space-012) solid var(--awsm-color-primary);
  background: var(--awsm-color-primary);

  font-size: var(--awsm-font-size-n);
  line-height: 0;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

@media (hover: hover) {
  .status button:hover {
    background: var(--awsm-color-primary-tint);
  }
}

.status button:active {
  background: var(--awsm-color-primary-tone);
}
