.root {
  display: flex;
  flex-flow: column nowrap;
  justify-items: stretch;
  justify-content: stretch;

  padding: var(--awsm-space-100);

  background: var(--awsm-color-gamma-700);
  color: var(--awsm-color-contrast-light);
}

.item {
  flex: 1 1 auto;

  padding: var(--awsm-space-075) var(--awsm-space-100);
  background: var(--awsm-color-secondary);

  transition: all ease-out var(--awsm-duration-short);
  cursor: pointer;
}

.item:focus-visible {
  --focus-color: var(--awsm-color-primary);
}

.__checked {
  z-index: 1;
  color: var(--awsm-color-secondary-tint);
  background: var(--awsm-color-secondary-contrast);
  cursor: default;
}


@media (hover: hover) {
  .item:not(.__checked):hover {
    background: var(--awsm-color-secondary-tint);
  }
}

.label {
  display: block;

  font-size: var(--awsm-font-size-l);
  font-weight: bold;
  cursor: inherit;
}

.description {
  margin: 0;

  font-size: var(--awsm-font-size-n);
}
