.root {
  padding: var(--awsm-space-200) var(--awsm-space-100);
  border-bottom: var(--awsm-space-050) solid rgba(var(--awsm-color-primary-rgb), .5);

  background-color: var(--awsm-color-base-dark);
  color: var(--awsm-color-contrast-dark);
}

.root h1 {
  margin: 0;
}
