
@media (min-width: 780px) {
  .root {
    width: 60vw;
  }

  .main {
    flex-flow: row;
  }
}

.controls {
  flex: 1 1 60%;
}

.data {
  flex: 1 1 40%;
}

.controls,
.data {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.selector,
.report {
  flex: 1 0 auto;

  display: flex;
  flex-flow: column;
  justify-content: center;
}
