@import '@dtg-examples/tokens/assets/index.css';

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./assets/fonts/Play-Regular.ttf') format('truetype');
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  color-scheme: light dark;
  color: var(--awsm-color-text-regular);
  background-color: var(--awsm-color-base-light);

  font-size: var(--awsm-root-size);
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
input,
select,
button {
  font-family: 'Play', 'Jura', 'Helvetica Neue', sans-serif;
}

:root {
  --focus-color: var(--awsm-color-secondary);
}

:focus-visible {
  outline: var(--awsm-space-025) solid var(--focus-color);
  outline-offset: 1px;
}

body {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;

  min-height: 100%;
  min-width: 360px;
  margin: 0;

  font-size: var(--awsm-font-size-n);
  line-height: var(--awsm-line-height-regular);
}

#root {
  flex: 1 1 auto;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  line-height: var(--awsm-line-height-tight);
}

h1 {
  font-size: var(--awsm-font-size-xxl);
}

h2 {
  font-size: var(--awsm-font-size-xl);
}

h3 {
  font-size: var(--awsm-font-size-l);
}
